*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --project-background: white;
    --background: hsl(30, 18%, 87%);
    --imp-font: hsl(14, 45%, 36%);
    --heading-t: hsl(332, 51%, 32%);
}

body{
    background-color: var(--background);
}

main{
    max-width: 50%;
    padding: 2rem;
    background-color: var(--project-background);
    margin: 2rem auto;
    border-radius: 2rem;
}

img{
    max-width: 43rem;
    border-radius: 2rem;
}

.two{
    padding: 2rem;
    text-s
}